.center-block {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

h1, h2, h3, h4, h5 {
    text-align: center;
}

b, strong {
    font-weight: 700;
}

.rounded-rect {
    border-radius: 50%;
}

#card-container {
    padding: 10px;
    background: #ECECEC;
}

.list-unstyled {
    padding-left: 0;
    list-style: none;
}

.clear-margin {
    margin: 0;
}
.space-right {
    margin-right: 10px;
}

.iconfont{
    font-family:"iconfont";
    font-size:16px;
    font-style:normal;
}
.iconfont-large {
    font-size: 20px;
}

.card-nested {
    border: 1px solid #e6e6e6;
    border-radius: 3px;
    border-width: 1px 0 0 0;
    padding-top: 10px;
    margin-bottom: 10px;
    width: 100%;
}


