.tag {
    background: #7eb0db;
    border: 1px solid #357ebd;
    color: white;
    display: inline-block;
    font-size: 0.9em;
    margin-right: 5px;
    padding: 2px 5px;
    text-align: center;
    border-radius: 0.25em;
}
