body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background: #ECECEC;
}

@font-face {
  font-family: 'iconfont';
  src: url('//at.alicdn.com/t/font_1474161486_6199589.eot'); /* IE9*/
  src: url('//at.alicdn.com/t/font_1474161486_6199589.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('//at.alicdn.com/t/font_1474161486_6199589.woff') format('woff'), /* chrome、firefox */
  url('//at.alicdn.com/t/font_1474161486_6199589.ttf') format('truetype'), /* chrome、firefox、opera、Safari, Android, iOS 4.2+*/
  url('//at.alicdn.com/t/font_1474161486_6199589.svg#iconfont') format('svg'); /* iOS 4.1- */
}
